<div class="relative overflow-x-auto mt-10">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name
      </th>
      <th scope="col" class="px-6 py-3">
        Seats
      </th>
      <th scope="col" class="px-6 py-3">
        Orders
      </th>
      <th scope="col" class="px-6 py-3">
        Completed Orders
      </th>
      <th scope="col" class="px-6 py-3">
        Status
      </th>
      <th scope="col" class="px-6 py-3">
        Income
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let table of tables"
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
    >
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{table.name}}
      </th>
      <td class="px-6 py-4">
        {{table.seats}}
      </td>
      <td class="px-6 py-4">
        {{table.orders}}
      </td>
      <td class="px-6 py-4">
        {{table.completedOrders}}
      </td>
      <td class="px-6 py-4">
        {{table.occupied ? 'Occupied' : 'Empty'}}
      </td>
      <td class="px-6 py-4">
        {{table.income}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
