<div style="width: 300px">
  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a menu item</label>
  <select (change)="onChange($any($event.target).value)" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected></option>
    <option *ngFor="let menuItem of menu" [value]="menuItem._id">{{menuItem.name}}</option>
  </select>
</div>
